@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { @apply transition-colors duration-150; }
  ::-webkit-scrollbar { width: 6px; }
  ::-webkit-scrollbar-track { @apply bg-slate-900; }
  ::-webkit-scrollbar-thumb { @apply bg-slate-700 rounded-full; }
}
